@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html,
body {
    background-color: antiquewhite;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.h1-text{
    font-size: 30px;
}
.row {
    margin: 5px;
}

.button {
    font-size: 15px;
    width: 66px;
    padding: 20px;
    margin: 3px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.row input {
    font-size: 21px;
    margin: 0px;
    padding: 6px 14px;
    border: 2px solid black;
    border-radius: 5px;
}